<div class="d-flex w-100 justify-content-center">
    <div class="form-signin w-50 m-auto">
        <form #postForm="ngForm" (ngSubmit)="onUpdateUserInfo(postForm.value)">
          <img class="mb-4" src="/assets/gotNextlogo.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Enter your username</h1>
      
        
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" ngModel name="Username">
            <label for="floatingPassword">Username</label>
          </div>
      
          <button class="w-100 glow-on-hover" type="submit" style="margin-top: 50px">Sign in</button>
        </form>
    </div>
    </div>