<div class="d-flex w-100 justify-content-center">
  <div class="flex-column justify-content-center">
    <div class="form-signin w-100 m-auto">
        <form (ngSubmit)="onSubmit()">
          <img src="./assets/cup.png" alt="" width="400px" height="400px">
          <h1 class="h3 mb-3 fw-normal">Enter your username</h1>
      
          <div *ngIf="isUserValid">
            <p class="error">Username cannot contain spaces or special characters</p>
          </div>

          <div *ngIf="isUserTaken">
            <p class="error">Username already taken</p>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="Host" name="Host">
            <label for="floatingPassword">Username</label>
          </div>

          <h1 class="h3 mb-3 fw-normal">Enter the party name</h1>

          <div class="form-floating">
            <input type="text" class="form-control" placeholder="Password" [(ngModel)]="PartyName" name="PartyName">
            <label>Party name</label>
          </div>

          <h1 class="h3 mb-3 fw-normal">Enter a 4-6 digit party code</h1>

          <div *ngIf="isCodeValid">
            <p class="error">Code must contain only numbers and be 4-6 numbers long</p>
          </div>

          <div *ngIf="isCodeTaken">
            <p class="error">Code already taken</p>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" placeholder="Password" [(ngModel)]="PartyCode" name="PartyCode">
            <label>Party Code</label>
          </div>
          
          <button class="w-100 btn glow-on-hover" type="submit" style="margin-top: 50px; margin-left: 0px;">Create Party!</button>
        </form>
    </div>
  </div>
</div>
    