nav{
    background-image: url("/assets/dance-hands.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

img{
    height: 50px;
}

h5{
    padding-top: 10px;
    padding-right: 5px;
}