<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<img src="assets/cup.png" alt="" class="center">


<div class="button-box">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex flex-row justify-content-center">
              <!-- Default dropright button -->
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Choose Gameplay Style
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" >Queue</a>
                  <a class="dropdown-item">Round Robin</a>
                  <a class="dropdown-item">Tournament</a>
                </div>
              </div>
          <div class="p-2">
            <button class="glow-on-hover" type="button" routerLink="/gamelist">Create Game</button>
          </div>
        </div>

      </div>
      <div>
        <div class="p-2">
          <p><a href="qrpage">Click Here to Generate a QR code</a></p>  
        </div> 
      </div>
    </div>
  </div>

