<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<img src="assets/cup.png" alt="" class="center">


<div class="button-box">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2">
             <html>
          <body>
                <select id="s1">
                  <option value="green">Choose Gameplay Style</option>
                   <option value="green">Queue</option>
                   <option value="blue">Round Robin</option>
                   <option value="purple">Tournament</option>
                </select>
            
             <script type="text/javascript">
                function selOpt() {
                   selEl = document.querySelector('#s1');
                   op = selEl.value;
                   document.querySelector('.op').textContent = op;
                }
             </script>
          </body>
          </html>
          </div>
    
          <div class="p-2">
            <button class="glow-on-hover" type="button" routerLink="/gamelist">Create Game</button>
          </div>
        </div>
      </div>
      <div>
        <div class="p-2">
          <p><a href="qrpage">Click Here to Generate a QR code</a></p>  
        </div> 
      </div>
    </div>
  </div>

