.glow-on-hover {
  width: 150px;
  height: 50px;
  margin-left: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-dark{
  background-color: black;
}

.col-3{
  padding-right: 200px;
}

.title {
  background-color: black;
  color: rgb(255, 234, 0);
  text-align: center;
}

.bd-highlight{
  width: 500px;
}

h1{
  padding-left: 50px;
}

.flex-row{
  padding-right: 30px;
}

.d-flex{
  margin-left: auto;
  margin-right: auto;
}