<!-- Use *ngIf component to show host privileges -->
<!-- updated to use ng for loop to create a new line for each game and for each floating user -->
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">
      <ul class="list-group">
        <li class="list-group-item title">Current Games</li>
        <li class="list-group-item" *ngFor="let game of games">
         <span class="party-name">CupSniper's Game</span>
             <span class="game-type">{{game.Style}}</span> 
             <span class="player-number">10/20</span> 
          <input class="form-check-input me-1 radio-button" name="party" type="radio" value="" aria-label="...">
        
        </li>
      </ul>
</div>
    
    <div class="p-2 flex-fill bd-highlight">
        <ul class="list-group">
            <li class="list-group-item title" >Players looking for a Partner</li>
            <ng-container *ngFor="let user of users">
            <li class="list-group-item partner-un"> {{user.FloatingUser}}
              <input class="form-check-input me-1 radio-button" name="player" type="radio" value={{user.FloatingUser}} aria-label="...">
            </li>
            </ng-container>
          </ul>    
    </div>
  </div>

  <div class="container">
    <button routerLink="/queue" class="glow-on-hover" type="button">Join Game</button>
  </div>