<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<img src="assets/gotNextLogo.png" alt="" class="center">


<div class="button-box">
  <div class="container">
    <button class="glow-on-hover" type="button">Join as a Host</button>
    <button class="glow-on-hover" type="button" routerLink="userlogin">Join as a Player</button>  
  </div>
</div>


<footer class="footer">
  <footer class="text-center">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a class="btn btn-floating" href="https://github.com/WVU-CS230-2023-01-Group10/GotNext" role="button">
          <i class="fa fa-github" href="#"></i>
        </a>
      </div>
    </section>
  </footer>